<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated raascms -->
      <package
            uri="http://org.raas4emf.metamodel.raascms.ecore/"
            class="raascms.RaascmsPackage"
            genModel="model/raascms.genmodel"/>
   </extension>

</plugin>
