<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
   </extension>
   <extension
         point="org.eclipse.ui.views">
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="org.raas4emf.cms.ui.rap.embedded.branding"
            class="org.raas4emf.embedded.ui.EntryPoint"
            id="org.raas4emf.embedded.ui.entrypoint"
            path="/embedded">
      </entrypoint>
   </extension>
   
   <extension
         point="org.eclipse.rap.ui.branding">
     <branding
           id="org.raas4emf.cms.ui.rap.embedded.branding"
           title="Embedded 3D Viewer"
           themeId="org.eclipse.rap.rwt.theme.Default">
     </branding>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.raas4emf.embedded.ui.Startup">
      </startup>
   </extension>
      
</plugin>
