<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="EMF + RAP" sequenceNumber="338">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/releases/2019-12"/>
		<unit id="org.eclipse.xtext.sdk.feature.group" version="2.20.0.v20191202-1256"/>
		<unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.20.0.v20190920-0401"/>
		<unit id="org.eclipse.equinox.sdk.feature.group" version="3.20.0.v20191122-2104"/>
		<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="3.11.0.20191211-1200"/>
		<unit id="org.eclipse.rap.examples.feature.feature.group" version="3.11.0.20191204-1038"/>
		<unit id="org.eclipse.rap.feature.feature.group" version="3.11.0.20191127-1205"/>
		<unit id="org.eclipse.rap.sdk.feature.feature.group" version="3.11.0.20191127-1205"/>
		<unit id="org.eclipse.emf.cdo.epp.feature.group" version="4.8.0.v20191209-1916"/>
		<unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.10.1.v20191209-1145"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://www.elver.org/eclipse/2.2.0/update"/>
		<unit id="org.postgresql.feature.group" version="9.2.1003"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/modeling/emf/cdo/updates/releases/4.7"/>
		<unit id="org.eclipse.net4j.db.postgresql.feature.group" version="4.2.500.v20180529-1130"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20191126223242/repository/"/>
		<unit id="javax.inject" version="1.0.0.v20091030"/>
		<unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
		<unit id="com.google.inject" version="3.0.0.v201605172100"/>
		<unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
		<unit id="javax.activation" version="1.1.0.v201211130549"/>
	</location>
</locations>
</target>