<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="EMF + RAP" sequenceNumber="338">
<locations>
<location path="${eclipse_home}" type="Profile"/>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/releases/2019-12"/>
		<unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.20.0.v20190920-0401"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/rt/rap/3.11"/>
		<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="3.11.0.20191211-1200"/>
		<unit id="org.eclipse.rap.examples.feature.feature.group" version="3.11.0.20191204-1038"/>
		<unit id="org.eclipse.rap.feature.feature.group" version="3.11.0.20191127-1205"/>
		<unit id="org.eclipse.rap.sdk.feature.feature.group" version="3.11.0.20191127-1205"/>
	</location>
</locations>
</target>