<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.raas4emf.server.RAASCDOServerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.raas4emf.server.application"
            name="org.raas4emf.server.product">
         <property
               name="appName"
               value="org.raas4emf.server.product">
         </property>
      </product>
   </extension>

</plugin>
