<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="EMF + RAP" sequenceNumber="294">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.feature.feature.group" version="3.1.1.20160831-0710"/>
<unit id="org.eclipse.rap.sdk.feature.feature.group" version="3.1.1.20160831-0710"/>
<unit id="org.eclipse.rap.examples.feature.feature.group" version="3.1.1.20160831-0700"/>
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="3.1.1.20160912-1200"/>
<repository location="http://download.eclipse.org/rt/rap/3.1/"/>
</location>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.12.0.v20160526-0356"/>
<repository location="http://download.eclipse.org/releases/neon"/>
</location>
</locations>
</target>
