<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.raas4emf.cms.transformation.transformator">
      <transformator
            class="org.raas4emf.cms.core.webgl.ColladaToGLTFTranformator"
            description="GLTF"
            sourceFileExtension="dae"
            targetFileExtension="gltf">
      </transformator>
      <transformator
            class="org.raas4emf.cms.core.webgl.ColladaToGLBTranformator"
            description="GLB"
            sourceFileExtension="dae"
            targetFileExtension="glb">
      </transformator>
      <transformator
            class="org.raas4emf.cms.core.webgl.IfcToColladaTranformator"
            description="Collada"
            sourceFileExtension="ifc"
            targetFileExtension="dae">
      </transformator>
<!--  deactivated as long as IfcConvert does not support hierarchy when ifc is converted directly to glb -->
<!--  <transformator -->
<!--        class="org.raas4emf.cms.core.webgl.IfcToGLBTranformator" -->
<!--        description="GLB" -->
<!--        sourceFileExtension="ifc" -->
<!--        targetFileExtension="glb"> -->
<!--  </transformator> -->
   </extension>
   <extension
         point="org.eclipse.rap.ui.serviceHandler">
      <serviceHandler
            class="org.raas4emf.cms.core.DownloadServiceHandler"
            id="downloadServiceHandler">
      </serviceHandler>
   </extension>
   
</plugin>
